* {
	color: #DDD;
	text-align: left;
}

html {
	background-color: #444;
}

html > body {
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	font-size: 15px;
}

html > body > img.background {
	position: fixed;
	z-index: -1;
	min-height: 100%;
	min-width: 100%;
}

a {
	text-decoration: none;
	color: #08C;
}

a:hover {
	color: #3BF;
}

footer {
	text-align: center;
	position: fixed;
	padding: 4px;
	bottom: 0;
	width: 100%;
	background-color: #222;
	box-shadow: -10px 0 5px rgba(0, 0, 0, 0.4);
}

div.content {
	padding: 10px 10px 36px 10px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto;
	width: 50%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

	transition: width 0.25s;
}

@media screen and (max-width: 1500px) {
	div.content {
		width: 70%;
	}
}

@media screen and (max-width: 1200px) {
	div.content {
		width: 80%;
	}
}

@media screen and (max-width: 700px) {
	div.content {
		width: 90%;
	}
}

article {
	margin: 20px 20px 40px 20px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

article > article {
	margin-bottom: 50px;
}

article.subtle {
	background-color: rgba(127, 127, 127, 0.25);
}

article > .title, article > .subtitle {
	margin: -8px -8px 0px -8px;
	border-radius: 1px;
	border-bottom: 1px solid rgba(127, 127, 127, 0.5);
}

article > .title {
	padding: 10px 10px 15px 10px;
	text-align: center;
	font-size: 22px;
}

article > .subtitle {
	padding: 15px 10px 10px 10px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.25);
	font-size: 19px;
}

.text-field {
	border-radius: 2px;
	display: table;
	width: 100%;
	max-width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.text-field > span.label {
	display: table-cell;
	padding: 10px;
	width: 30%;
	border-right: 1px solid rgba(127, 127, 127, 0.25);
}

.text-field > span.label.label-20 {
	width: 20%;
}

.text-field > span.label.label-25 {
	width: 25%;
}

.text-field > span.label.label-50 {
	width: 49%;
}

.text-field > span.content {
	display: table-cell;
	margin: 0;
	text-align: right;
	padding: 10px;
}

.text-justified {
	text-align: justify !important;
}

ul {
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 18px;
	margin: 0;
}

article > ul {
	padding-left: 0px;
}

ul > li {
	padding: 7px 1px 1px 1px;
	border-bottom: 1px solid rgba(127, 127, 127, 0.25);
}

div.content #links {
	display: block;
	text-align: center;
	margin: auto;
	padding: 10px;
}

div.content ul#links > li.link {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	border: none;
	margin: auto 2% auto 2%;
}

div.content ul#links > li.link > a {
	display: block;
	margin: 0;
	padding: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid rgba(127, 127, 127, 0.5);
	background-color: rgba(127, 127, 127, 0.75);
	box-shadow: 0 0 0 transparent;

	transition: all 0.25s;
}

div.content ul#links > li.link > a:hover {
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

div.content #links > .link > a > img {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 25%;
}

div.content #links > .link > a#profile_photo {
	width: 200px;
	height: 200px;
	background-color: transparent;
	border: 1px solid transparent;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

div.content #links > .link > a#profile_photo > img {
	padding: 0;
}

div.content #links > .link > a#google_plus > img {
	padding: 20%;
}

@media screen and (max-width: 1100px) {

	div.content ul#links > li.link {
		margin: auto 1% auto 1%;
	}

	div.content ul#links > li.link > a {
		display: block;
		margin: 0;
		padding: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		overflow: hidden;
		border: 1px solid rgba(127, 127, 127, 0.5);
		background-color: rgba(127, 127, 127, 0.75);
		box-shadow: 0 0 0 transparent;

		transition: all 0.25s;
	}

	div.content #links > .link > a#profile_photo {
		width: 80px;
		height: 80px;
	}
}

aside {
	position: fixed;
	background-color: rgba(127, 127, 127, 0.1);
	border-radius: 2px;
	border-left: 2px solid rgba(127, 127, 127, 0.5);
	border-right: 2px solid rgba(127, 127, 127, 0.5);
	margin-top: 15px;
	margin-left: 10px;
	max-width: 100%;
	
	transition: all 0.25s;
}

aside > ul {
	padding: 0;
}

aside > ul > li {
	display: block;
	border: none;
	padding: 0;

	transition: all 0.2s;
}

aside > ul > li.title {
	text-align: center;
	color: #DDD;
	padding: 10px;
	font-size: 18px;
	border-bottom: 1px solid rgba(127, 127, 127, 0.5);;
}

aside > ul > li > a {
	display: block;
	padding: 10px;
	color: #AAA;
	background-color: transparent;
	
	transition: all 0.2s;
}

@media screen and (max-width: 1100px) {
	aside {
		background-color: transparent;
		max-width: 20px;
	}

	aside:hover {
		background-color: rgba(32, 32, 32, 1);
		max-width: 300px;

		transition: max-width 0.5s;
	}

	aside:hover > ul > li > a {
		color: #AAA;
	}

	aside:hover > ul > li > a:hover {
		color: #3BF;
	}

	aside > ul > li > a {
		white-space: nowrap;
		overflow: hidden;
		color: transparent;
		
		transition: color 0s;
	}

	aside > ul > li.title {
		overflow: hidden;
		color: transparent;
		border-bottom-color: transparent;

		transition: color 0s;
	}

	aside:hover > ul > li.title {
		color: #DDD;
		border-bottom-color: rgba(127, 127, 127, 0.5);
	}
}

aside > ul > li > a:hover {
	background-color: rgba(127, 127, 127, 0.25);
}

aside.aside-left {
	float: left;
}